.nav-items {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    gap: 10px;
}

.nav-container {
    width: calc(76vw - 20px);
    margin: 0px auto;
    background-color: var(--second-accent-color);
    border-radius: 24px;
    height: fit-content;
    margin: calc(var(--gap) * 2 + 48px) 0px var(--gap) 0px;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-item {
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    padding: 5px 12px;
    margin: 0px;
    border-radius: 50px;
    user-select: none;
    min-width: fit-content;
    flex: 1;
    text-align: center;
}

.nav-item:hover {
    background-color: var(--accent-color);
}

.nav-item a {
    transition: color 0.3s, background-color 0.3s;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
}

.nav-item:hover a {
    color: var(--main-color);
}

.nav-item.active {
    background-color: var(--accent-color);
}

.nav-item.active a {
    color: var(--main-color);
}