:root {
    --container-padding: 48px;
    --gap: 28px;
    --border-radius: 30px;

    --title-text: 52px;

    --background-color: #F5F5F5;
    --main-color: white;
    --main-color-alpha: rgba(255, 255, 255, 0.5);
    --text-color: black;
    --second-color: #D9D9D9;
    --accent-color: #025ADD;
    --second-accent-color: #EEF3FB;
    --shadow: rgba(0, 0, 0, 0.2);
    --extra-shadow: rgba(0, 0, 0, 0.3);
    --primary-color: black;
}

[data-theme="black"] {
    --background-color: #0c0c0c;
    --main-color: #1b1b1b;
    --main-color-alpha: #1b1b1b9c;
    --text-color: white;
    --second-color: #424242;
    --accent-color: #025ADD;
    --second-accent-color: #303037;
    --shadow: rgba(0, 0, 0, 0.9);
    --extra-shadow: rgba(0, 0, 0, 1);
    --primary-color: white;
}

body {
    margin: 0px;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: "Montserrat";
}

.title {
    font-weight: 900;
    font-size: 52px;
    margin: 0px;
    user-select: none;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--second-color) var(--background-color);
}