.products-page {
    width: 76vw;
    margin: var(--gap) auto;
    height: fit-content;
}

.products-container {
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 35px var(--shadow);
    background-color: var(--main-color);
    padding: var(--container-padding);
    min-height: 610px;
    transition: background-color 0.3s;
}

.products-cards-container {
    margin-left: 400px;
    gap: var(--gap);
    margin-top: var(--gap);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 400px);
}