.search-bar {
    width: 100%;
    background: none;
    border: 1px solid var(--second-color);
    border-radius: 100px 0px 0px 100px;
    height: 26px;
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--text-color);
    transition: color 0.3s, background-color 0.3s, border 0.3s;
    z-index: 3;
    font-family: 'Montserrat';
}

.search-bar:focus, .search-bar:focus + .search-button {
    --second-color: var(--accent-color);
    outline: none;
}