.search-bar {
    width: 100%;
    backdrop-filter: blur(10px);
    background: var(--main-color-alpha);
    border: 1px solid var(--second-color);
    border-radius: 100px 0px 0px 100px;
    height: 26px;
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--second-color);
    transition: color 0.3s, background-color 0.3s, border 0.3s;
    z-index: 3;
    font-family: 'Montserrat';
}

.search-bar:focus {
    color: var(--text-color);
    outline: none;
}

.search:hover .search-bar {
    color: var(--text-color);
    border: 1px solid var(--accent-color);
}