.product-page {
    width: 76vw;
    margin: var(--gap) auto;
    height: fit-content;
}

.product-container {
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 35px var(--shadow);
    background-color: var(--main-color);
    padding: 50px;
    min-height: 610px;
    transition: background-color 0.3s;
}

.product-image {
    width: 80%;
    max-height: 100%;
}

.product-image-container {
    width: 310px;
    height: 240px;
    padding: 20px;
    background-color: white;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-content-container {
    display: flex;
    margin: var(--gap) 0px;
    gap: var(--gap);
}

.discount {
    position: absolute;
    top: -100px;
    left: -50px;
    background-color: var(--accent-color);
    color: white;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    font-weight: 300;
}

.product-prices {
    display: flex;
    align-items: flex-end;
    height: fit-content;
}

.price {
    font-weight: 900;
    margin: 0px;
    font-size: 70px;
}

.original-price {
    position: relative;
    margin: 0px 0px 10px 20px;
    font-size: 30px;
    text-decoration: line-through;
    color: var(--second-color);
    font-weight: 300;
}

.specs-category {
    margin: 30px 0px 20px 0px;
}

.spec-container {
    display: flex;
    margin: 20px 0px;
}

.spec-value, .spec-name {
    font-size: 18px;
}

.spec-value {
    font-weight: 400;
}

.spec-name {
    font-weight: 300;
    width: 600px;
}

.last-spec {
    margin-bottom: 0px;
}

.product-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.product-buttons-container {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: var(--gap);
}