.weather-container {
    box-shadow: 0px 0px 35px var(--shadow);
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 460px;
    border-radius: var(--border-radius);
    padding: var(--container-padding);
    position: relative;
    flex: 1;
    transition: background-color 0.3s;
}

.weather-data {
    width: fit-content;
}

.weather-data .date {
    font-weight: 200;
    font-size: 30px;
    margin: 0px;
    user-select: none;
}

.weather-data .degrees {
    font-weight: 100;
    font-size: 120px;
    margin: 0px;
    height: 110px;
    align-items: center;
    display: flex;
    justify-content: left;
    user-select: none;
}

.weather-data .weather-type {
    font-weight: 300;
    font-size: 30px;
    margin: 0px;
    max-width: 290px;
    user-select: none;
}

.quote {
    display: flex;
    justify-content: space-between;
}

.quote .circle {
    background-color: #025ADD;
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote .hooks {
    color: var(--main-color);
    font-size: 40px;
    margin: 0px;
    height: 36px;
    transition: color 0.3s;
    user-select: none;
}

.quote .line {
    height: 100%;
    min-width: 1px;
    max-width: 1px;
    background-color: #025ADD;
    margin: 0px 5px;
}

.quote .quote-text {
    margin: 0px 10% 0px 0px;
    width: 75%;
    font-weight: 300;
    font-size: 26px;
    font-style: italic;
}

.weather-img {
    position: absolute;
    right: 80px;
    top: 48%;
    transform: translate(0%, -50%);
    height: 260px;
    user-select: none;
}