.search-button {
    flex: 0;
    min-width: 70px;
    backdrop-filter: blur(10px);
    background: var(--main-color-alpha);
    width: 70px;
    border: 1px solid var(--second-color);
    border-radius: 0px 100px 100px 0px;
    border-left: none;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s, border 0.3s;
}

.search:hover .search-button {
    border: 1px solid var(--accent-color);
    border-left: none;
}

.search:hover .search-button:hover svg {
    --text-color: var(--accent-color);
}