.content-top {
    width: 76vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 39px auto;
}

.content-products {
    width: 76vw;
    margin: 39px auto;
}

.title-container {
    background-color: var(--main-color);
    border-radius: 30px;
    padding: 50px;
    box-shadow: 0px 0px 35px var(--shadow);
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s;
}

.title-container h1 {
    font-weight: 900;
    font-size: 60px;
    margin: 0px;
}

.cards-container {
    width: 76vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px 25px;
}