.search-items-container {
    position: absolute;
    left: 12vw;
    width: 72vw;
    padding: 0px 2vw;
    top: calc(var(--gap) + 60px);
    z-index: 2;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--second-color);
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
    animation: search-in 0.3s;
}

.search-results {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--second-color) var(--main-color);
    max-height: calc(100vh - (var(--gap) * 3) - 60px);
}

.search-results ul {
    list-style: none;
    margin: 0px;
    padding: 0;
}

.search-padding {
    min-height: var(--container-padding);
    width: 100%;
}

@keyframes search-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}