.products-page {
    width: 76vw;
    margin: 39px auto;
    height: fit-content;
}

.products-container {
    border-radius: 30px;
    box-shadow: 0px 0px 35px var(--shadow);
    background-color: var(--main-color);
    padding: 50px;
    min-height: 610px;
    transition: background-color 0.3s;
}

.products-cards-container {
    margin-left: 25%;
    gap: 39px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
}

.pagination-container {
    margin-left: 25%;
    gap: 39px;
    margin-top: 39px;
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 66%;
    border-radius: 30px;
    padding: 15px 30px;
    border: 1px solid var(--second-color);
    transition: border 0.3s;
}

.pagination:hover {
    border: 1px solid var(--text-color);
}

.pagination-button {
    font-family: 'Montserrat';
    font-weight: 300;
    background-color: var(--main-color);
    border: none;
    font-size: 20px;
    width: 30px;
    border-radius: 10px;
    transition: color 0.3s, scale 0.3s, font-weight 0.3s;
    cursor: pointer;
    color: var(--text-color);
}

.pagination-button:hover {
    color: #025ADD;
    scale: 1.4;
}

.pagination-active {
    color: #025ADD;
    font-weight: 700;
}

.move-button {
    padding: 15px 30px;
    border: 1px solid var(--second-color);
    border-radius: 30px;
    font-family: 'Montserrat';
    font-weight: 300;
    background-color: var(--main-color);
    font-size: 20px;
    transition: border 0.3s;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39px;
    color: var(--text-color);
}

.move-button img {
    width: 8px;
}

.move-button:hover {
    border: 1px solid var(--text-color);
}

.dots {
    cursor: default;
}