.search {
    flex: 1;
    display: flex;
    border-radius: 100px;
    transition: border 0.3s;
    z-index: 2;
    min-width: 200px;
    height: fit-content;
    transition: box-shadow 0.3s ease-in-out;
}

.search:hover {
    --second-color: var(--accent-color);
}

.overlay {
    position: fixed;
    top: -18px;
    left: 0px;
    width: 100%;
    height: calc(100vh + 19px);
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    animation: overlay-in 0.3s;
}

@keyframes overlay-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}