.search {
    flex: 1;
    display: flex;
    border-radius: 100px;
    transition: border 0.3s;
    z-index: 2;
    min-width: 200px;
    height: fit-content;
    transition: box-shadow 0.3s ease-in-out;
}

.overlay {
    position: fixed;
    top: -18px;
    left: 0px;
    width: 100%;
    height: calc(100vh + 18px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.search:hover {
    --second-color: var(--accent-color);
}