.search-button {
    background-color: var(--main-color);
    width: 70px;
    border: 1px solid var(--second-color);
    border-radius: 0px 100px 100px 0px;
    border-left: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s, border 0.3s;
}

.search-button:hover svg {
    --second-color: #025ADD;
}
