.card {
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    border: 1px solid var(--second-color);
    padding: var(--gap);
    height: 210px;
    display: flex;
    position: relative;
    transition: scale 0.3s, box-shadow 0.3s, background-color 0.3s, border 0.3s;
    text-decoration: none;
    width: 100%;
}

.card:hover {
    scale: 1.03;
    z-index: 2;
    box-shadow: 0px 0px 35px rgba(2, 90, 221, 0.2);
    border: 1px solid #025ADD;
}

.cardImage {
    min-width: 240px;
    width: fit-content;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 185px auto;
    background-color: white;
    border-radius: 9px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin: 0px 0px 0px var(--gap);
}

.bottomContainer, .priceContainer {
    height: fit-content;
    display: flex;
    align-items: flex-end;
}

.bottomContainer {
    justify-content: space-between;
}

.notInStock, .defaultPrice, .price, .title {
    margin: 0px;
    height: fit-content;
}

.price {
    font-size: 38px;
    font-weight: 900;
}

.defaultPrice {
    font-size: 20px;
    font-weight: 300;
    color: var(--second-color);
    margin: 6px 8px;
    text-decoration: line-through;
    transition: color 0.3s;
}

.priceContainer {
    height: fit-content;
}

.buttons {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.blue {
    color: var(--accent-color);
}

.discount {
    position: absolute;
    left: 16px;
    top: 16px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    background-color: #025ADD;
    border-radius: 50px;
    color: white;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: rotate 0.6s, height 0.3s, width 0.3s, top 0.3s, left 0.3s, font-size 0.5s;
}

.card:hover .discount {
    top: 6px;
    left: 6px;
    rotate: -30deg;
    height: 90px;
    width: 90px;
    font-size: 24px;
}

.title {
    font-weight: 700;
    font-size: 22px;
    color: var(--text-color);
    transition: color 0.3s;
}

.notInStock {
    font-weight: 300;
    font-size: 20px;
    color: var(--second-color);
    margin: auto 5px;
    width: fit-content;
}