.filter {
    border: 1px solid var(--second-color);
    border-radius: var(--border-radius);
    background: none;
    color: var(--text-color);
    width: calc(100% - 42px);
    padding: 20px;
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: color 0.3s, border 0.3s, transform 0.3s;
    flex: 1;
}

.clicked {
    height: 500px;
}