:root {
    --rotate: 0deg;
}

.filter-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.filter-text {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    text-align: left;
}

.filter {
    border: 1px solid var(--second-color);
    border-radius: var(--border-radius);
    background: none;
    color: var(--text-color);
    width: calc(100% - 42px);
    padding: 20px;
    height: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: color 0.3s, border 0.3s, height 0.3s ease-in-out;
    width: 300px;
    gap: 0px;
    transition: gap 0.3s;
}

.filter-arrow {
    display: flex;
    align-items: center;
    transition: rotate 0.3s ease-in-out;
    rotate: var(--rotate);
}

.filter:hover {
    border: 1px solid var(--accent-color);
}

.clicked {
    gap: 20px;
    --rotate: 90deg;
}

.filter.clicked .filters-input-container {
    outline: 1px solid var(--second-color);
}

.filters {
    width: 100%;
    font-family: 'Montserrat';
    font-size: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--second-color) var(--main-color);
    align-items: flex-start;
    gap: 5px;
    transition: max-height 0.3s ease;
}

.filters-input-show {
    height: 42px;
    max-height: 42px;
}

.filters-input-show input.filter-input {
    height: 40px;
}

.filters-show {
    max-height: 135px; 
}

.filters-hidden {
    max-height: 0px; 
    pointer-events: none; 
}

.real-checkbox {
    width: 0px;
    height: 0px;
    margin: 0px;
}

.filter-label {
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.filter-checkbox {
    border: 1px solid var(--second-color);
    border-radius: 33%;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    transition: border 0.3s, background-color 0.3s;
    position: relative;
}

.filter-label:hover .filter-checkbox {
    background-color: var(--second-accent-color);
}

.filter-checkbox::before {
    content: '';
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../Checkbox.svg") no-repeat 50% 50%;
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.real-checkbox:checked + .filter-checkbox {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    animation: checkbox-bounce 0.3s, checkbox-check 0.3s;
}

.real-checkbox:checked + .filter-checkbox::before {
    opacity: 1;
}

.filters-input-container {
    outline: 1px solid var(--main-color);
    flex: 1;
    width: calc(100% - 32px);
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0px 16px;
    border-radius: var(--border-radius);
    transition: height 0.3s, max-height 0.3s, outline 0.3s;
}

.filters-input-container:hover {
    --second-color: var(--accent-color);
}

.filter-input {
    font-family: 'Montserrat';
    max-width: 46%;
    border: none;
    outline: none;
    padding: 0px;
    height: 0px;
    background-color: var(--main-color);
    transition: background-color 0.3s;
    color: var(--text-color);
    transition: height 0.3s;
}

.filter-input:focus {
    outline: none;
}

.filter-line {
    height: 100%;
    min-width: 1px;
    background-color: var(--second-color);
    transition: background-color 0.3s;
}

@keyframes checkbox-bounce {
    0% {
        scale: 1;
    }
    33% {
        scale: 0.85;
    }
    66% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}

@keyframes filters-container {
    0% {
        max-height: 0px;
    }
    100% {
        max-height: 135px;
    }
}