:root {
    --rotate: 0deg;
}

.filter-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}

.filter {
    border: 1px solid var(--second-color);
    border-radius: var(--border-radius);
    background: none;
    color: var(--text-color);
    width: calc(100% - 42px);
    padding: 20px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    transition: color 0.3s, border 0.3s, height 0.3s ease-in-out;
    width: 100%;
}

.filter-arrow {
    display: flex;
    align-items: center;
    transition: rotate 0.3s ease-in-out;
    rotate: var(--rotate);
}

.filter:hover {
    border: 1px solid var(--accent-color);

}

.clicked {
    height: 200px;
    --rotate: 90deg;
}

.filters {
    flex: 1;
    width: 100%;
    transition: opacity 0.3s ease;
    font-family: 'Montserrat';
    font-size: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: flex-start;
}

.filters-hidden {
    opacity: 0; 
    pointer-events: none; 
}

.filter-checkbox-container {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: default;
}

.filter-checkbox+label {
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.filter-checkbox {
    border-radius: 5px;
    width: 20px;
    height: 20px;
    border: 2px solid red;
}