.search-result-item {
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 20px;
    transition: background-color 0.3s;
    border-radius: var(--border-radius);
    margin: 0px 0px 1px 0px;
}

.relative {
    position: relative;
}

.search-result-item:hover {
    background-color: var(--second-accent-color);
}

.search-line {
    position: absolute;
    border-bottom: 1px solid var(--second-color);
    width: calc(100% - 62px);
    left: 31px;
    bottom: -1px;
}

.search-result-item img {
    width: fit-content;
    height: 110px;
}

.search-img-container {
    min-width: 240px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.search-result-item span.name {
    top: 13px;
    flex-grow: 1;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
}

.search-result-text {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    height: fit-content;
    transition: color 0.3s;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0px 0px var(--gap);
}

.search-price {
    margin: 0px;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 34px;
    color: var(--text-color);
    transition: color 0.3s;
}

.blue {
    color: var(--accent-color);
}

.search-default-price {
    margin: 0px 0px 4px 20px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    color: var(--second-color);
    text-decoration: line-through;
}

.search-container {
    display: flex;
}

.search-discount {
    position: absolute;
    background-color: var(--accent-color);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10px;
    top: 10px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    transition: color 0.3s, rotate 0.5s, height 0.3s, width 0.3s, left 0.3s, top 0.3s, font-size 0.3s;
}

.search-result-item:hover .search-discount {
    rotate: -30deg;
    height: 80px;
    width: 80px;
    left: 5px;
    top: 5px;
    font-size: 24px;
}

.search-specs-container {
    max-width: 700px;
}